html, body, #map{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title{
    font-size: 25px;
    font-weight: bold;
}

/*
.visibleBar{
    background-color: red;
}
*/
.glyphicon-collapse-down{
    visibility: visible;
    float: right;
}
.glyphicon-collapse-up{
    visibility: hidden;
    float: right;
}

.divTitle{
    background-color: darkgray;
    color: white;
    height: 25px;
    width: 100%;
    position: relative;
    padding: 3px;
    margin: 0;
    border-radius: 8px;
    fond-weight: 800;
    text-align: center;
    cursor: pointer;
}

#header{
    height: 75px;
    width: 40%;             /*45*/
    margin: 0 0 0 30%;     /*27*/
    top: 10px;
    position: absolute;
    z-index: 98;
    opacity: 0.8;    
}

#results{
max-height: 80%;
height: 85%;
width: 350px;
/*max-width: 300px;*/
z-index: 20;
position: absolute;
top: 20px;
right: 20px;
/*visibility: hidden;*/
/*overflow: scroll;*/
opacity: 0.8;
padding: 0;  
}

#tools{
    height: 50%;
    width: 300px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    position: absolute;
    z-index: 92;
    opacity: 0.8;
    background-color: white;
    border-radius: 8px;
    transition: height 0.6s linear 0s;
    
}
#legend{
    height: 35%;
    width: 300px;
    bottom: 40px;
    right: 20px;
    margin: 0;
    position: absolute;
    z-index: 92;
    opacity: 0.8;
    background-color: white;
    border-radius: 8px;
    transition: height 0.6s linear 0s;
}

.content{
    padding: 10px;
}

h4{
font-size: 1.2em;
font-weight: bold;
}

/*
.agsjsTOCContent{
  padding: 10px;
}
*/

#scaleDiv .agsjsTOCOutOfScale{
    display: none;
}
.agsjsTOCRootLayer{
    padding: 4px;
}
.agsjsTOCRootLayerLabel{
    padding-left: 16px;
    font-weight: normal;
}
.agsjsTOCIcon{
    padding-left: 8px;
/*    padding-right: 8px;*/
}
/*
.agsjsTOCGroupLayer,
.agsjsTOCGroupLayerLabel,
.agsjsTOCServiceLayer,
.agsjsTOCServiceLayerLabel,
.agsjsTOCLegendLabel
*/
