html, body, #map{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title{
    font-size: 25px;
    font-weight: bold;
}

/*
.visibleBar{
    background-color: red;
}
*/
#toolsMaxButton{
    visibility: hidden;
    float: right;
}
#toolsMinButton{
    visibility: visible;
    float: right;
}

.divTitle{
    background-color: darkgray;
    color: white;
    height: 25px;
    width: 100%;
    position: relative;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
    fond-weight: 800;
    text-align: center;
}

#header{
    height: 75px;
    width: 45%;
    margin: 0 0 0 27%;
    top: 10px;
    position: absolute;
    z-index: 98;
    opacity: 0.8;    
}

#results{
max-height: 80%;
height: 85%;
width: 350px;
/*max-width: 300px;*/
z-index: 20;
position: absolute;
top: 20px;
right: 20px;
/*visibility: hidden;*/
/*overflow: scroll;*/
opacity: 0.8;
padding: 0;
    
    
}

#tools{
    height: 50%;
    width: 300px;
/*    margin: 0 0 0 27%;*/
    bottom: 10px;
    left: 10px;
    margin: 0;
    position: absolute;
    padding: 10px;
    z-index: 92;
    opacity: 0.8;
    background-color: white;
    border-radius: 8px;
    
}