html, body, #map{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title{
    font-size: 25px;
    font-weight: bold;
}

/*
.visibleBar{
    background-color: red;
}
*/
.glyphicon-collapse-down{
/*    visibility: visible;*/
    float: right;
}
.glyphicon-collapse-up{
    visibility: hidden;
    float: right;
}

#results .glyphicon-collapse-down{
    visibility: hidden;
}

/*
#photoCredit{
    text-align: right;
    font-size: 9px;
*/
/*    position: absolute;*/
/*    right: 80px;*/
/*    top: 240px;*/
/*}*/

#results .glyphicon-collapse-up{
/*    visibility: visible;*/
}

#info .content{
    text-align: center;
}

#info .content .photo .photoCredit{
    text-align: right;
    font-size: 8pt;
    padding-right: 70px;
    font-style: italic;
}

#info .content button{
    width: 100%;
    border-radius: 8px;
}

#info .content img{
    border-radius: 8px;
}

#homeButton{
    position: absolute;
    top: 20px;
    left: 65px;
    z-index: 50;
}

#loading{
    position: absolute;
    z-index: 98;
    height: 150px;
    width: 150px;
    left: 65px;
    top: 30%;
    visibility: hidden;
}

.divTitle{
    background-color: darkgray;
    color: white;
    height: 25px;
    width: 100%;
    position: relative;
    padding: 3px;
    margin: 0;
    border-radius: 8px;
    fond-weight: 800;
    text-align: center;
    cursor: pointer;
}

#header{
    height: 75px;
    width: 40%;             /*45*/
    margin: 0 0 0 30%;     /*27*/
    top: 10px;
    position: absolute;
    z-index: 98;
    opacity: 0.9;    
}

#results{
    height: 25px;
    width: 300px;
    bottom: 55%;
    left: 20px;
    margin: 0;
    position: absolute;
    z-index: 90;
    opacity: 0.85;
    background-color: white;
    border-radius: 8px;
    transition: height 0.6s linear 0s, bottom 0.6s linear 0s;
    visibility: hidden;
    overflow: hidden;
}

#resultsContent{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 40px;    
}

#tools{
    height: 50%;
    width: 300px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    position: absolute;
    z-index: 92;
    opacity: 0.85;
    background-color: white;
    border-radius: 8px;
    transition: height 0.6s linear 0s;
    overflow: hidden;
}

#toolsContent{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 40px;    
}

#legend{
    height: 35%;
    width: 300px;
    bottom: 40px;
    right: 20px;
    margin: 0;
    position: absolute;
    z-index: 92;
    opacity: 0.85;
    background-color: white;
    border-radius: 8px;
    transition: height 0.6s linear 0s;
    overflow: hidden;
}

#legendSuperContent{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 40px;    
}

#info{
    height: 25px;
    width: 300px;
    bottom: 41%;
    right: 20px;
    margin: 0;
    position: absolute;
    z-index: 90;
    opacity: 0.85;
    background-color: white;
    border-radius: 8px;
    transition: height 0.6s linear 0s, bottom 0.6s linear 0s;
    visibility: hidden;
    overflow: hidden;
}

#infoContent{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 40px;    
}

.content{
    padding: 10px;
}

h4{
font-size: 1.2em;
font-weight: bold;
}

/*
.agsjsTOCContent{
  padding: 10px;
}
*/

#scaleDiv .agsjsTOCOutOfScale{
    display: none;
}
.agsjsTOCRootLayer{
    padding: 4px;
}
.agsjsTOCRootLayerLabel{
    padding-left: 16px;
    font-weight: normal;
}
.agsjsTOCIcon{
    padding-left: 8px;
/*    padding-right: 8px;*/
}
/*
.agsjsTOCGroupLayer,
.agsjsTOCGroupLayerLabel,
.agsjsTOCServiceLayer,
.agsjsTOCServiceLayerLabel,
.agsjsTOCLegendLabel
*/
