<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
        <serverUrl url="http://kekenesdev.maps.arcgis.com/" matchAll="true"/>
        <serverUrl url="http://opencache.statkart.no/gatekeeper/" matchAll="true"/>
		<serverUrl url="http://openwms.statkart.no" matchAll="true"/>
        <serverUrl url="https://ws.geonorge.no/SKWS3Index/ssr/sok" matchAll="true"/>
        <serverUrl url="http://services3.arcgis.com/KXH3vrrQAKwhcniG/arcgis/rest/services/" matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
